
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Category</title>
</head>
<body>
    <h2>MVC Proje Kampı Tablo - Kategori</h2> <br />
    <table>
        <tr>
            <th>ID</th>
            <th>Adı</th>
            <th>Açıklama</th>
            <th>Durum</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Eğitim</td>
            <td>Kategori açıklaması burada yapıldı</td>
            <td>True</td>
        </tr>
         <tr>
            <td>2</td>
            <td>Spor</td>
            <td>Açıklama burada yapıldı</td>
            <td>True</td>
        </tr>







    </table>
</body>
</html>
